@media screen{

html{
	height:100%;
}

body{
	margin:15px;
	height:100%;
	text-align: center;
	font-family: 'Karla', sans-serif;

}

h1{
	font-size:18px;
	text-decoration: underline;
}


.pageContainer{
	width:1400px;
	page-break-after:always;
}

.swatchContainer{
	width:175px;
	display:inline-block;
	margin-right:12px;

}


.colorSwatch{
	height:74px;
	width:100%;
	margin:0px 0px 12px 0px;
	text-align:center;
}

.colorDot{
	width:5px;
	height:5px;
	border-radius:50%;
	margin:10px;
	display:inline-block;
}

.noMargin{
	margin:none;
}

.colorSwatch p{
	font-family: Arial; 
	font-size: 10px;
	padding-top:17px;
	color:black;
/*	text-shadow:black 1px 1px;
*/}

.textContainer{
	width:200px;
	display:inline-block;
	margin-right:25px;
}

.textBlock{
	padding:25px;
	margin-top:25px;
	font-family:Arial;
}

.textBlock p{
	font-size:16px;
	line-height:24px;
}

.textBlock h1{
	text-decoration: underline;
	padding-bottom:5px;
}

.navBar{
	position:fixed;
	top:0;
	left:0;
	height:50px;
	width:100%;
	background-color: white;
	box-shadow: 0px 5px  5px rgba(0,0,0,0.25);
}

.infoContainer{
	padding:15px;
	width:250px;
	height:500px;
	position:fixed;
	top:0;
	left:0;
	text-align: center;
}

.infoContainer h1{
	color: blue;
}

.infoContainer p{
	font-size: 10px;
}

#colorSwatch{
	margin-top: 15px;
	margin-bottom: 15px;
	width:100px;
	height:100px;
	display:inline-block;
	background-color: rgba(0,0,0,0.05);

}



}




